
%clearfix
	&::after
		content: ''
		display: table
		width: 100%
		clear: both


=tablet
	@media screen and (min-width: 769px) and (max-width: 999px)
		@content

=mobile
	@media screen and (min-width: 320px) and (max-width: 768px)
		@content
