@import mixin

body
	font-family: 'PT Sans', sans-serif
	font-size: 14px
.container
	max-width: 960px
	width: 100%
	margin: 0 auto
.header
	background: url(../images/bg-header.png) 0 0 no-repeat
.header-content
	@extend %clearfix

.logo
	width: 14%
	float: left
	a 
		img
			width: 100%
			height: auto
.menu
	width: 85%
	float: left
	margin-top: 11px
	display: flex
	flex-flow: row wrap
	align-content: flex-start
.menu-capital
	width: 49%
	font-size: 20px
	color: #248003
	font-weight: bold
	line-height: 0.9
	b 
		color: #0b48b5	
		font-size: 26px
		position: relative
		span
			position: absolute
			top: 6px
			right: -9px
	span
		font-size: 17px
		font-weight: normal
.menu-contact		
	width: 50%
	h3
		color: #0b48b5
		font-size: 33px
		line-height: 1
		font-weight: bold
	a 
		color: #619844
		font-size: 15px
		display: inline-block
		border-bottom: 1px dashed #619844	
		margin: 5px 7px 0 2px
	span
		color: #0b48b5
		display: inline-block

.menu-social 
	margin-top: 25px
	flex-basis: 30%
	a 
		border-radius: 50%
		background: #f3a50f
		width: 25px
		height: 26px
		display: inline-block
		text-align: center
		margin: 0 2px
		i  
			color: #fff 
			font-size: 16px
			display: block	
			padding: 5px 0 
.menu-official
	border-radius: 13px
	background: rgba(36, 131, 2, .3)
	margin-top: 25px
	padding: 0 25px
	a 
		display: inline-block
		padding: 7px 10px
		text-transform: uppercase
		color: #fff 
		font-weight: bold
	b 
		color: #fff 
		font-size: 16px
		display: inline-block
.info-location
	@extend %clearfix
.location
	width: 15%
	&__main
		border-radius: 4px
		border: 1px solid #74c158 
		position: relative
		padding: 4px 10px
		&::before
			content: ''
			position: absolute
			top: 0
			left: 0
			background: url(../images/icon-location.gif)
			width: 20px
			height: 20px
			transform: scale(2)